body{
    font-family: 'Oswald', sans-serif;
    background-color: #FFE5B4;
}
.header_div{
    background-color:#F3C3B0;
    color: chocolate;
}
.header_div p{
    font-family: 'Montagu Slab', serif;
    color: chocolate;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Montagu Slab', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    line-height: 3;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Readex Pro', sans-serif;
    font-size: 20px;
}